li{float:left;margin-right: 15px;}

li a {
   display: block;padding: 10px;text-align: center;text-decoration: none;}
 
 li a:hover {
   background-color:rgb(101, 195, 101);
 }

 ul {
    list-style-type:none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-left: 150px;
}

   a:link{color:green;font-family:Verdana, Geneva, Tahoma, sans-serif ;text-decoration-line: none;font-size: 20px;}    
   a:visited{color:brown;font-family:Verdana, Geneva, Tahoma, sans-serif;text-decoration-line: none;font-size: 20px;}   
   a:hover{color:black;text-decoration-line: none;font-size: 20px;}
  

   header{text-align: center;background-color:rgb(218, 172, 172); font-size: 30px;
    color: brown;font-family: 'Times New Roman', Times, serif;height:55px;padding-top: 25px;}
    h1{ font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}

dd { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
font-size: 20px;
margin-left: 0%;}

dt { font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;}

